* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;

  background-color: #F5F5F5;

  width: 100%;
  height: 100%;
}

#app {
  display: flex;

  justify-content: center;
  flex-direction: column;

  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;

  width: 100%;

  display: flex;
  gap: 7.575rem;

  background-color: #FFF;

  align-items: center;
  justify-content: center;

  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  gap: 7.575rem;
}

li {
  place-self: center;
  font-weight: 700;
  font-size: 1.8rem;
}

li:nth-child(1) {
  color: #8D8D99;
}

#search {
  width: 70rem;
  padding: 1.6rem;

  border-radius: .5rem;

  background-color: #EEE;
  border: none;
}

.logo {
  width: 4rem;
}

.perfil {
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
}

main {
  padding-top: 9.8rem;
  max-width: 121.6rem;

  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.22rem;
}

.card {
  border-radius: .8rem;
  overflow: hidden;
  background-color: #FFF;
  padding-bottom: 2.2rem;
}

.card h2, .card span{
  margin: 2.2rem 2.2rem 2rem;
}

.card span {
  border-radius: .5rem;
  background: #F5F5F5;
  padding: .8rem;
}